<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/components/buttons/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
